# Build output
/output/
/build/output/
/build/mbed-os/
/test_apps/build/
/test_apps/*/build/
/test_apps/libs/psoc6make/

# Downloaded assets
/input/
/udd*
/device-info/*
!/device-info/personalities/

# Generated documentation
/docs/

# Generated device descriptors
/devices/cy_deviceIpBlockCfg*

# Generated prebuilt binaries
/devices/**/*.bin
/assets/

# Doxygen logs
build/doxygen/logs/

# Temporary files
.*.sw*
*~
.DS_Store
.metadata
__pycache__
design.modus.lock
build/build_app.log
build/report_build_app.json

# Developer configuration
/build/custom.sh
changes_template.txt
.vscode/
.vs/
build/local_build.sh

# Eclipse Project
.cproject
.project
.settings

# Coverity run analysis
/devops_scripts/
/_coverity_/
/ARM_GNU/
/Coverity/
coverity_defects_all.txt
/deploy
